################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpDesignPatterns/StrategyPattern/obj
/CSharpDesignPatterns/CSharpDesignPatterns/obj
/CSharpDesignPatterns/.vs/CSharpDesignPatterns/v15
