################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharpDesignPatterns/StrategyPattern/obj
/CSharpDesignPatterns/CSharpDesignPatterns/obj
/CSharpDesignPatterns/.vs/CSharpDesignPatterns/v15
/CSharpDesignPatterns/StrategyPattern/bin/Debug/netcoreapp2.0
/CSharpDesignPatterns/ObserverPattern/bin/Debug
/CSharpDesignPatterns/ObserverPattern/obj
/CSharpDesignPatterns/DecoratorPattern/obj
/CSharpDesignPatterns/DecoratorPattern/bin/Debug/netcoreapp2.1
/CSharpDesignPatterns/.vs/CSharpDesignPatterns/DesignTimeBuild
/.vs
